{% extends "layout/base.html.twig"%}
{%block titulo 'Usuario' %}
{%block encabezado %}
<div class="page-header">
    <div class="well-large">
    <embed src="{{ constant("URL_SISTEMA")}}/flash/slogan.swf" height="205" width="100%"/>
    </div>
</div>
{% endblock %}
{% block contenido %}
{% endblock %}